body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 512px;
  height: 512px;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 32px;
  height: 32px;
  background-color: #eee;
  box-sizing: border-box;
}